<div class="container_contact" id="contact">
    <h2>Do you want to contact me?</h2>
    <p>
        If you liked my portfolio and want to contact me you can send me an <a href="mailto:santiagomaza33@gmail.com?Subject=Ví%20tu%20portfolio%20web">email</a> or through LinkedIn:
    </p>
    
    <div class="container_logo_contact">
       <a href="https://github.com/EmAMaz"><img src="./assets/logo-contact/bxl-github.svg" alt="logo-skills" class="logo_skills logo_skills-animated"></a> 
       <a href="https://www.linkedin.com/in/santiago-maza-b6a0251aa/"><img src="./assets/logo-contact/bxl-linkedin-square.svg" alt="logo-skills" class="logo_skills logo_skills-animated"></a> 
    </div>
    
</div>
