.title_section{
    display: flex;
    flex-direction: column;
    letter-spacing: 0.5px;
    border-bottom: 1px dashed hsla(0,0%,100%,.2);
    margin-bottom: 2em;
}
.title_section h2{
    color: #fff;
    margin-bottom: 0.9em;
}
.title_section p{
    font-weight: 600;
    font-size: 1.1em;
    max-width: 60%;
}