.nav_bar_fixed{
    width: calc(100% - 25%);
    z-index: 1;
}
.nav-link{
    font-size: 0.8em;
    font-weight: 700;
    color: #fff;
    transition: transform 0.4s;
    margin-left: 2em;
    padding-right: 0px!important;
    z-index: 20;
}
.animation_logo{
    transition: transform 0.5s;
}
.animation_logo:hover{
    transform: rotateZ(-90deg);
}
.nav-link:hover{
    transform: translateY(-0.5rem);
}