<nav class="navbar navbar-expand-lg bg-body-tertiary nav_bar_fixed position-fixed pt-5 animate__animated animate__slideInDown animate__delay-2s animate__slow ">
    <div class="d-flex justify-content-between w-100">
      <a class="navbar-brand nav-link_link animation_logo" href="#"><img src="./assets/logoPrincipal.svg" alt=""></a>
  
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li>
            <a class="nav-link" href="#myproject">Work.</a>
          </li>
          <li>
            <a class="nav-link" href="#myskills">Skills.</a>
          </li>
          <li>
            <a class="nav-link" href="#contact">Contact.</a>
          </li>
        </ul>
      </div>

    </div>
</nav>
