<div class="img_background_projects" >
    <img src="./assets/bg02.svg" alt="" > 
</div>
<section class="container_projects" data-aos="fade-up" data-aos-duration="3000" id="myproject">
    
    <app-title-section></app-title-section>

    <div class="container_card_skills">

        <div class="parent">
             
            <div class="container_img_card">
                <img src="../../../assets/modelo.png" class="img_back" alt="">

                <div class="button_href_card">
                    <a href="https://github.com/EmAMaz/encriptador">Ver codigo <img class="arrow_svg" src="./assets/svg/box-arrow-down-right.svg" alt=""></a>
                        
                    <a href="https://emamaz.github.io/encriptador/">Ver Demo <img class="arrow_svg" src="./assets/svg/box-arrow-down-right.svg" alt=""></a>
                </div>
            </div>
        
            <div class="container_img_card">
                <img src="../../../assets/modelo1.png" class="img_back" alt="">
                <div class=" button_href_card">
                    <a href="https://github.com/EmAMaz/juegodelahorcado">Ver codigo <img class="arrow_svg" src="./assets/svg/box-arrow-down-right.svg" alt=""></a>
                    <a  href="https://emamaz.github.io/juegodelahorcado/">Ver Demo <img class="arrow_svg" src="./assets/svg/box-arrow-down-right.svg" alt=""></a>
                </div>
            </div>

            <div class="container_img_card">
                <img src="../../../assets/modelo2.png" class="img_back" alt="">
                <div class=" button_href_card">
                    <a href="https://github.com/EmAMaz/background-color" id="enlace_project">Ver codigo <img class="arrow_svg" src="./assets/svg/box-arrow-down-right.svg" alt=""></a>
                    
                    <a href="https://emamaz.github.io/background-color/index.html" id="enlace_project">Ver Demo <img class="arrow_svg" src="./assets/svg/box-arrow-down-right.svg" alt=""></a>
                </div>
            </div>
            
        </div>
    </div >
</section>
